hr{border: 3px;
border-color: rgb(234, 158, 158);
border-style: solid;
}
#navbar{
    display: flex;
    align-items: center;
    background-color: rgb(197, 110, 130);
}
#logo{
    width: 10%;
    text-align: center;
}
#navlinks{
    width: 70%;
    text-align: center;

}
#media{
    width: 20%;
    text-align: center;
}
#logoimg{
    height: 80px;
    margin: 3px 5px;
    border: 2px rgb(243, 236, 236) solid;
    border-radius: 40%;
}
#links{
    display: flex;
}
#links li a{
    padding: 5px 45px;
    text-decoration: none;
    color: beige;
    border-radius: 20px;


}
.lilinks{
    list-style: none;
        font-family: "Bree Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
      
      
}
#links li a:hover{
    background-color: beige;
    color: rgb(197, 110, 130);
    transition: 1s;
}
#currentitem{
    border: 2px solid white;
    border-radius: 20px;

} 
#media img{
    width: 35px;
}