hr{border: 3px;
border-color: rgb(234, 158, 158);
border-style: solid;
}
#navbar{
    display: flex;
    align-items: center;
    background-color: rgb(197, 110, 130);
}
#logo{
    width: 10%;
    text-align: center;
}
#navlinks{
    width: 70%;
    text-align: center;

}
#media{
    width: 20%;
    text-align: center;
}
#logoimg{
    height: 80px;
    margin: 3px 5px;
    border: 2px rgb(243, 236, 236) solid;
    border-radius: 40%;
}
#links{
    display: flex;
}
#links li a{
    padding: 5px 45px;
    text-decoration: none;
    color: beige;
    border-radius: 20px;


}
.lilinks{
    list-style: none;
        font-family: "Bree Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 25px;
      
      
}
#links li a:hover{
    background-color: beige;
    color: rgb(197, 110, 130);
    transition: 1s;
}
#currentitem{
    border: 2px solid white;
    border-radius: 20px;

} 
#media img{
    width: 35px;
}
#media img:hover{
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 0px 0px 50px 5px rgba(245,243,231,1);
}

*{
    margin: 0px;
    padding: 0px;
}

#homesection{
    background-image: url(bg3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 100px;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style:normal;
}
#homep1{
    font-size: 55px;
    color: brown;
}

#homep1{
    font-size: 55px;
    color: brown;
}

#homep2{
    font-size: 40px;
    color: rgb(220, 17, 78);
    padding: 20px;
}
